{% extends 'base.html' %}
{% block body %}
<div class="row">
  <div class="col-3">
    {% if profile.profile.image %}
    <img class="rounded-circle img-fluid" src="{{ profile.profile.image.url }}">
    {% else %}
    <img class="rounded-circle img-fluid" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png">
    {% endif %}
    <h1>{{ profile.username }} 
    {% if user != profile %}
      {% if user in profile.followers.all %}
        <a class="btn btn-primary" href="{% url 'accounts:follow' profile.id %}">언팔로우</a>
      {% else %}
        <a class="btn btn-info" href="{% url 'accounts:follow' profile.id %}">팔로우</a>
      {% endif %}
      
    {% endif %}
    </h1>
    
    <div id="app">
      <!--버튼을 클릭하면, 팔로우할 수 있는 버튼-->
      <button v-show="loading" @click="follow({{ profile.id }})" :class="{'btn': true, 'btn-info': !followed, 'btn-dark': followed}">팔로우</button>
      [[ text ]]
    </div>
  
  </div>
  <div class="col-9">
      <div>
    <strong>{{ profile.profile.nickname }}</strong>
    {{ profile.profile.description }}
    </div>
  </div>
</div>

  {% if user == profile %}
  <a class="btn btn-danger" href="{% url 'accounts:delete' %}">회원탈퇴</a>
  <a class="btn btn-danger" href="{% url 'accounts:change_profile' %}">프로필변경</a>
  {% endif %}
  
  <div class="row">
    <!-- 해당 유저가 작성한 모든 post를 보여줌 -->
    {% for post in profile.post_set.all %}
    <div class="col-4">
      <img src="{{ post.image.url }}" class="img-fluid">      
    </div>
    {% endfor %}
  </div>
  <script>
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        'text':'뷰 작동 한다리',
        followed: '', //false
        loading: false,
      },
      methods: {
        follow: function(profile_id) {
          axios.get(`/accounts/${profile_id}/vuefollow/`)
          .then((response)=>{return response.data})
          .then((data)=>{this.followed = data.followed})
        },
        checkFollow: function(profile_id){
          axios.get(`/accounts/${profile_id}/checkfollow/`)
          .then((response)=>{return response.data})
          .then((data)=>{
            this.followed = data.followed
            this.loading = true
          })
        }
      },
      beforeMount: function(){
        // 뭘 해야하나? django에게 물어봐 follow 여부를 확인하고, 해당하는 값을 보여준다.
        this.checkFollow({{ profile.id }})
      }
    })
  </script>
{% endblock %}